html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
margin:0;
padding:0;
background:#292929;
}

#header{
height:95px;
background:#1a1a1a;
border-bottom:1px solid #464646;
}

#header p{
width:960px;
margin:0 auto;
color:#fff;
font-family:verdana;
font-size:17px;
position:relative;
top:25px;
}
#header p b{
font-size:22px;
}

#content{
width:960px;
margin:0 auto;
position:relative;
top:20px;
}

#rightcol{
width:210px;
height:500px;
background:#bebebe;
border:3px solid #a5a5a5;
margin-right:15px;
float:left;
}

.colhead{
background:#d8d8d8;
height:37px;
color:#5a5a5a;
font-size:25px;
padding:8px 0;
text-indent:15px;
}

#leftcol{
width:715px;
height:500px;
border:3px solid #c7c7c7;
background:#e6e6e6;
float:right;
}

.rcolhead{
background:#d9d9d9;
height:37px;
color:#5a5c5b;
font-size:25px;
padding:8px 0;
text-indent:15px;
}

.icon{
width:95px;
height:95px;
background:#f8f8f8;
margin-top:10px;
margin-left:21px;
float:left;
box-shadow:inset 0 0 5px #bbb;
text-align:center;
}

.icon img{
width:64px;
height:64px;
}

.icon a{
font-size:10px;
font-family:verdana;
text-decoration:none;
color:#990000;
}

#authform{
width:325px;
height:120px;
border:3px solid #c6c6c6;
background:#e6e6e6;
}