
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>YIW Minimal | A clean &amp; professional free template</title>
 
    <meta name="author" content="Sara [mascaradesign.it] for Your Inspiration Web [yourinspirationweb.com]" />
    <meta name="keywords" content=""
    />
 	<meta name="description" content=""
	/>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    
    <!-- [template css] begin -->
	<link rel="stylesheet" href="css/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="css/960.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="css/print.css" type="text/css" media="print" /> 
    <!--[if IE]>
        <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen, projection" />
    <![endif]-->
    <!-- [template css] end -->

</head>
<body>

	<!-- START TOP SECTION -->
	<div class="container_12">
	
		<!-- START LOGO -->
		<div class="grid_4 header">
			<a href="index.htm"><img src="images/logo.gif" alt="YIW minimal" /></a>
		</div>
		<!-- END LOGO -->
   	 
		<!-- START NAVIGATION -->
   	  	<div class="grid_8 header">
   	  		<div id="navigation">
				<ul id="nav">
					<li id="home"><a href="index.htm" title="Home page">Home</a></li>
					<li id="about"><a href="about.htm" title="About" class="currentPage">About</a></li>
					<li id="portfolio"><a href="portfolio.htm" title="Portfolio">Portfolio</a></li>
					<li id="contact"><a href="contact.php" title="Contact">Contact</a></li>
				</ul>
			</div>
		</div>
		<!-- END NAVIGATION -->
		
		<div class="clear"></div>
	</div>
	<!-- END TOP SECTION -->
   
	<!-- START MEDIUM SECTION -->
	<div class="container_12 medium">
   
		<!-- START MASCOTTE -->
		<div class="grid_4">
			<img src="images/mascotte.png" alt="" class="mascotte"/>
		</div>
		<!-- END MASCOTTE -->	
	   	
		<!-- START SLOGAN BALOON -->
		<div class="grid_8 ">
			<div id="baloon">
				<p>
					Hello. I'm Sara, i'm a <span class="darkorange">web &amp; graphic designer.</span><br/>
					I do <span class="darkorange">beautiful &amp; creative site, logos and print design.</span> 
					I hope my work speck for me.
				</p>
			</div>
		</div>
		<!-- END SLOGAN BALOON -->
	
		<div class="clear"></div>
	</div>
	<!-- END MEDIUM SECTION -->
	
	<!-- START BOTTOM SECTION -->
	<div class="container_12 bottom">
   
		<!-- START ABOUT ME SECTION -->
	   	<div class="grid_4">
	   		<h2>About <span class="orange">me</span></h2>
	   		
	   		<p>
	   			Qua puoi inserire alcune informazioni su di te: titolo di studio, eventuali corsi, certificazioni, 
	   			attestati. Oppure puoi scrivere come hai cominciato lavorare nel campo del webdesign, su quali 
	   			progetti hai lavorato..insomma, tutto ciò che fa parte di te e che, in qualche modo, vuoi che 
	   			ti rappresenti sul web. 
	   		</p>
	   	</div>
	   	<!-- END ABOUT ME SECTION -->

	   	<!-- START I DO SECTION -->
   		<div class="grid_4">
	   		<h2>What <span class="orange">i do</span></h2>
	   		
	   		<p>
	   			Skin design | Webdesign | XHTML &amp; CSS coding | PHP | Wordpress | Joomla | 
	   			E-mail template | Mobile graphics | Logo design | Brand Identity | 
	   			Print design | Merchandasing &amp; Advertising.
	   		</p>
   		</div>
   		<!-- END I DO SECTION -->
   	
   		<!-- START CONTACT SECTION -->
	   	<div class="grid_4">
	   		<h2>Do you like my work?<span class="orange"> Hire me</span></h2>
	   		
	   		<img src="images/contact/phone.gif" alt="" />
	   		<a href="#"><img src="images/contact/email.gif" alt="" /></a>
	   	</div>
	   	<!-- END CONTACT SECTION -->
	   	
	   	<div class="clear"></div>
   	</div>
   	<!-- END BOTTOM SECTION -->
   	
 	<!-- START FOOTER -->
   	<div class="container_12">
	   	<p class="footer">
	   		Copyright 2009 by <strong>Your Inspiration Web</strong> <br/>
	   		YIWMinimal - clean &amp; cool portfolio template - download it for free!
		</p>
	</div>
	<!-- END FOOTER -->
   
</body>
</html>