
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>YIW Minimal | A clean &amp; professional free template</title>
 
    <meta name="author" content="Sara [mascaradesign.it] for Your Inspiration Web [yourinspirationweb.com]" />
    <meta name="keywords" content=""
    />
 	<meta name="description" content=""
	/>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    
    <!-- [template css] begin -->
	<link rel="stylesheet" href="css/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="css/960.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="css/print.css" type="text/css" media="print" /> 
    <!--[if IE]>
        <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen, projection" />
    <![endif]-->
    <!-- [template css] end -->
   
	<script type="text/javascript" src="js/jquery-1.3.1.min.js"></script>
	<script type="text/javascript" src="js/functions.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		setupZoom();
	});
	</script>
	
</head>

<body>

	<!-- START TOP SECTION -->
	<div class="container_12">
	
		<!-- START LOGO -->
		<div class="grid_4 header">
			<a href="index.htm"><img src="images/logo.gif" alt="YIW minimal" /></a>
		</div>
		<!-- END LOGO -->
   	 
		<!-- START NAVIGATION -->
   	  	<div class="grid_8 header">
   	  		<div id="navigation">
				<ul id="nav">
					<li id="home"><a href="index.htm" title="Home page">Home</a></li>
					<li id="about"><a href="about.htm" title="About">About</a></li>
					<li id="portfolio"><a href="portfolio.htm" title="Portfolio" class="currentPage">Portfolio</a></li>
					<li id="contact"><a href="contact.php" title="Contact">Contact</a></li>
				</ul>
			</div>
		</div>
		<!-- END NAVIGATION -->
		
		<div class="clear"></div>
	</div>
	<!-- END TOP SECTION -->
   
	<!-- START MEDIUM SECTION -->
	<div class="container_12 medium">
		
		<!-- START DESCRIPTION LAST WORK -->
   		<div class="grid_6">
	   		<div class="work">
	   			<h2>My Last work:<span class="orange">Ginevra.it</span></h2>
	   			<p>
	   				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat mi sit 
	   				amet mauris feugiat eu imperdiet augue interdum. Aliquam nisl orci, aliquam eget 
	   				vehicula non, faucibus at odio. Ut sit amet elit nunc, a gravida justo. Lorem ipsum 
	   				dolor sit amet, consectetur adipiscing elit. Integer rhoncus porttitor nisi, a dapibus 
	   				nulla lacinia non.
	   			</p>
	   			<p>
	   				<strong>What i do:</strong> Webdesign, XHTML + CSS
	   			</p>
	   			 <p class="Desc">
					<span class="project">Vedi Progetto</span>&nbsp;<span class="site"><a href="http://www.yourinspirationweb.com">Vedi sito</a></span>
				</p>
	   		</div>
   		</div>
   		<!-- END DESCRIPTION LAST WORK -->
   	
   		<!-- START SCREENSHOT LAST WORK -->
	   	<div class="grid_6 ">
	   		<div class="screenshot">
	   			<a href="images/portfolio/001.big.jpg" class="widePreviewImg"><img src="images/portfolio/001.jpg" alt="Webdesign last work" /></a>	
	   		</div>
	   	</div>
	   	<!-- END DESCRIPTION LAST WORK -->
   	  
		<div class="clear"></div>
		
	</div>
	<!-- END MEDIUM SECTION -->
 
	<!-- START BOTTOM SECTION 2 -->
	<div class="container_12 slider">
		
		<!-- START SCREENSHOT 2 -->
		<div class="grid_6">
			<div class="screenshot">
				<a href="images/portfolio/002.big.jpg" class="widePreviewImg"><img src="images/portfolio/002.jpg" alt="Web design lorem ipsum" /></a>	
			</div>
		</div>
		<!-- END SCREENSHOT 2 -->
	   	
		<!-- START DESCRIPTION WORK 2 -->
	   	<div class="grid_6">
	   		<div class="work">
	   			<h2>Webdesign <span class="orange">Loremipsum.com</span></h2>
	   			<p>
	   				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat mi sit 
	   				amet mauris feugiat eu imperdiet augue interdum. Aliquam nisl orci, aliquam eget 
	   				vehicula non, faucibus at odio. Ut sit amet elit nunc, a gravida justo. Lorem ipsum 
	   				dolor sit amet, consectetur adipiscing elit. Integer rhoncus porttitor nisi, a dapibus 
	   				nulla lacinia non.
	   			</p>
	   			<p>
	   				<strong>What i do:</strong> Webdesign, XHTML + CSS
	   			</p>
	   			 <p class="Desc">
					<span class="project">Vedi Progetto</span>&nbsp;<span class="site"><a href="http://www.yourinspirationweb.com">Vedi sito</a></span>
				</p>
	   		</div>
	   	</div>
	   	<!-- END DESCRIPTION WORK 2 -->
	   	<div class="clear"></div>
	   	
	</div>
	<!-- END BOTTOM SECTION 2 -->
   
	
	<div class="separator"></div>
	
	<div class="clear"></div>
	
	<!-- START BOTTOM SECTION 3 -->
	<div class="container_12 slider">
	
		<!-- START DESCRIPTION WORK 3 -->
   		<div class="grid_6">
	   		<div class="work">
	   			<h2>Print design:<span class="orange">Lavabo tiny</span></h2>
	   			<p>
	   				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat mi sit 
	   				amet mauris feugiat eu imperdiet augue interdum. Aliquam nisl orci, aliquam eget 
	   				vehicula non, faucibus at odio. Ut sit amet elit nunc, a gravida justo. Lorem ipsum 
	   				dolor sit amet, consectetur adipiscing elit. Integer rhoncus porttitor nisi, a dapibus 
	   				nulla lacinia non.
	   			</p>
	   			<p>
	   				<strong>What i do:</strong> Logo design, Brand Identity
	   			</p>
	   			 <p class="Desc">
					<span class="project">Vedi Progetto</span>&nbsp;<span class="site"><a href="http://www.yourinspirationweb.com">Vedi sito</a></span>
				</p>
	   		</div>
   		</div>
   		<!-- END DESCRIPTION WORK 3 -->
   	
   		<!-- START SCREENSHOT 3 -->
	   	<div class="grid_6 ">
	   		<div class="screenshot">
	   			<a href="images/portfolio/003.big.jpg" class="widePreviewImg"><img src="images/portfolio/003.jpg" alt="Print design" /></a>	
	   		</div>
	   	</div>
	   	<!-- END SCREENSHOT 2 -->
   	  
		<div class="clear"></div>
		
	</div>
	<!-- END DESCRIPTION WORK 3 -->
	
	<!-- START FOOTER -->
   	<div class="container_12">
	   	<p class="footer">
	   		Copyright 2009 by <strong>Your Inspiration Web</strong> <br/>
	   		YIWMinimal - clean &amp; cool portfolio template - download it for free!
		</p>
	</div>
	<!-- END FOOTER -->

<script src="js/FancyZoom.js" type="text/javascript"></script>
<script src="js/FancyZoomHTML.js" type="text/javascript"></script>

 
   

</body>
</html>